<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-5">
        <h1>Eventos de la Escuela</h1>
        <p>A continuación, los próximos eventos de la escuela RollerSpeed:</p>
        <ul>
            <li><strong>Competencia de Patinaje - Julio 2025:</strong> Evento donde los patinadores podrán mostrar sus habilidades. Fecha: 15 de Julio de 2025.</li>
            <li><strong>Campamento de Verano 2025:</strong> Un campamento intensivo para mejorar la técnica y disfrutar de muchas actividades deportivas. Fecha: 20-30 de agosto de 2025.</li>
            <li><strong>Clínicas de Patinaje:</strong> Clínicas para mejorar tu estilo de patinaje y aprender nuevas habilidades. Fechas: 5 de septiembre de 2025.</li>
        </ul>
    </div>
</body>
</html>
