<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Misión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="container mt-5">
        <h1>Misión</h1>
        <p>La misión de RollerSpeed es fomentar el deporte del patinaje de velocidad...</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HoA9yQFf1BB2p5U9aT4hG9zK4FfNuAbz8Jx5HpqM08rThH1CFLO3hS2BzAFi8ZB4"
        crossorigin="anonymous"></script>
</body>
</html>