<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-5">
        <h1>Servicios</h1>
        <p>En RollerSpeed ofrecemos los siguientes servicios para mejorar tu experiencia en el patinaje:</p>
        <ul>
            <li><strong>Clases de iniciación:</strong> Para aquellos que deseen empezar en el mundo del patinaje.</li>
            <li><strong>Entrenamientos avanzados:</strong> Para patinadores que buscan perfeccionar su técnica.</li>
            <li><strong>Alquiler de patines:</strong> Si no tienes patines, ofrecemos alquiler para tus clases y eventos.</li>
            <li><strong>Competiciones internas:</strong> Organización de eventos para probar tus habilidades.</li>
        </ul>
    </div>
     <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
